html,
body {
  margin: 0;
  padding: 0;
  padding-top: 70px;
  height: 90vh;
  width: 100%;
  background: rgb(47, 47, 47);
  background: linear-gradient(
      202deg,
      rgba(53, 50, 53, 0.911) 0%,
      rgba(21, 21, 22, 0.842) 38%,
      rgba(80, 83, 83, 0.692) 97%
    ),
    url("./public/images/image.png");
  background-attachment: fixed;
  background-size: cover;
  scroll-behavior: smooth;
}

.bg_text{
    color: whitesmoke;
    font-size: 200px;
    position: absolute;
    opacity: 0.1;
    display: block;
    z-index: 0;
    flex-direction: column;
    max-width: fit-content;   
    width: 100%;
    text-decoration: none;
    text-transform: none;
    user-select: none;
}

.navbar {
  background: rgba(0, 0, 0, 0.767);
  border-bottom: solid black 4px;
  display: flex;
  justify-content: space-evenly;
}

.navbar a {
  color: white !important;
  font-weight: 500;
}

.nav-link {
  transition: transform 0.24s ease;
  display: inline-block;
  font-size: 1.2rem;
}

.nav-link:hover {
  font-weight: 700;
  transform: scale(1.1);
}

.hero {
  padding: 5rem 0;
  text-align: left;
  animation: fadeInUp 1.7s forwards;
  transform: translateY(20px);
}

.hero h1 {
  font-size: 2.8rem;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background: linear-gradient(90deg, rgb(226, 221, 221), #585252, #d8d6d6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(151px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero p {
  font-size: 1.2rem;
  color: #ddd;
  max-width: 780px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.profile-pic {
  object-position: 0 -1px;
  width: 360px;
  height: 360px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 0 15px rgba(87, 87, 87, 0.8), 0 0 30px rgba(255, 255, 255, 0.6);
  animation: shine 3s ease-in-out infinite;
}

@keyframes shine {
  0% {
    box-shadow: 0 0 10px rgba(87, 87, 87, 0.8),
      0 0 20px rgba(255, 255, 255, 0.6);
  }
  50% {
    box-shadow: 0 0 25px rgba(87, 87, 87, 0.8),
      0 0 40px rgba(255, 255, 255, 0.6);
  }

  100% {
    box-shadow: 0 0 10px rgba(87, 87, 87, 0.8), 0 0 20px rgba(255, 255, 255, 0.6);
  }
}

.social-icons a {
  font-size: 2rem;
  margin: 0 10px;
  transition: 0.3s;
  position: relative;
}

a::after {
  content: "";
  display: block;
  background-color: white;
  position: absolute;
  width: 0;
  height: 2.5px;
  top: 4.5vh;
  left: 50%;
  transform: translate(-50%, 0);
}
a:hover::after {
  width: 100%;
  transition: 0.5s ease-in-out;
}

.main_text_box p {
  font-size: 20px;
  line-height: 36px;
}

.profile_div {
  display: flex;
  margin-right: 10vh;
}

.logo {
  width: 4vh;
  margin-right: 8vh;
}

.more_about{
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  line-height: 6vh;
  border: solid white 4px 0 4px 0;
}


.more_about h1{
      font-size: 7rem;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
      background: linear-gradient(90deg, rgb(226, 221, 221), #585252, #d8d6d6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.div-line{
  max-width: 100vh;
  width: 100%;
  display: inline-block;
  background-color: white;
  user-select: none;
  border-radius: 5px;
  height: 0.5vh;
  animation: line 1s ease-in;
  transition: width 1s ease ;
}

@keyframes line {
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

.projects h1{
      font-size: 7rem;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
      background: linear-gradient(90deg, rgb(226, 221, 221), #585252, #d8d6d6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.rodape{
  margin-top: 10vh;
  background-color: rgba(0, 0, 0, 0.788);
  color: white;
  display: flex;
  justify-content: center;
}
